.blur-bg {
    margin:0px;
    padding:0px;
    background: url(../images/login/Blur-3.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */

    font-family: 'Roboto','Helvetica Neue Light','Arial';
}

.square {
    border-radius: 0px;
}
.no-padding {
    padding:0 !important;
}
.panel-heading {
    padding:15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel {
    background-color: #edeff1;
    padding: 15px;
    position: relative;
    /*border-radius: 0px;*/
}
.post-footer {
    background-color: #edeff1;
    /*border-top: 0px;*/
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
}


@media (min-width: 768px) {
    .login-link.right {
        text-align: left;
    }
    .login-link.left {
        text-align: left;
    }
    .decalage {
        left: 0;
    }
}
@media (min-width: 992px) {
    .login-link.right {
        text-align: right;
    }
    .login-link.left {
        text-align: left;
    }
    .decalage {
        left: 25px;
    }
}
